-# image_file = elem.album_image_file
-# image_url = image_file ? image_file.imageurl : "256x256/devices/media-optical-audio_mount.png"
- artists = elem.artists.uniq
- artist = elem.album_artist || artists.first
.elem.Album{ 'data-elem_id' => "album-#{elem.id}" } 
  .elem-image
    = link_to %{<img src="#{image_url(artist,elem)}" border="0" />}.html_safe, add_album_path(elem.id), :remote => true
  .elem-data
    .name
      = elem.name
  .elem-content
    .artists
      = artists.first(3).map(&:name).join(", ").html_safe
      = (artists.size > 3 ? " &hellip;".html_safe : "")
    - if elem.audio_files
      - if tracks
        .tracks
          %table.table.table-striped.table-condensed
            - elem.audio_files.each do |af|
              = render :partial => af, :locals => {:context_rec => elem }
      - else
        .audio_files
          - audio_files = elem.audio_files.uniq
          = audio_files.first(3).map{|a| a.name }.join(", ").html_safe
          = (audio_files.size > 3 ? " &hellip;".html_safe : "")


    