.image.float-left
  = link_to image_tag("note-blue-32.png"), add_audio_file_path(elem.id), :remote => true, :title => "Add '#{elem.song_name}' to Playing"
.data{ "data-sound_id" => "sound_id-audio_file-#{elem.id}", :class => "sound_id-AudioFile"}
  .duration.float-right
    = Time.at(elem.length).strftime("%M:%S").sub(/^0/,'')
  .tracknum
    = elem.tracknum
  .song
    = link_to elem.song_name, search_query(elem.song_name), :class => 'query-link'
  .artist.float-left
    = link_to elem.artist_name, search_query(elem.artist_name), :class => 'query-link'
  .album.float-right
    = link_to elem.album_name, search_query(elem.album_name), :class => 'query-link'
  .url
    = link_to "#{elem.song_name} - #{elem.artist_name}",elem.url,:remote => true, :class => 'audiofile-link'
  