.elem.AudioFile{ 'data-elem_id' => "audio_file-#{elem.id}" } 
  .elem-image
    = link_to image_tag("note-blue-32.png"), add_audio_file_path(elem.id), :remote => true, :title => "Add '#{elem.song_name}' to Playing"
  .elem-data{ "data-sound_id" => "sound_id-audio_file-#{elem.id}", :class => "sound_id-AudioFile"}
    .duration
      = Time.at(elem.length).strftime("%M:%S").sub(/^0/,'')
    .tracknum
      = elem.tracknum
    .song
      = elem.song_name
    .artist
      = elem.artist_name
    .album
      = elem.album_name
    .url
      = link_to "#{elem.song_name} - #{elem.artist_name}",elem.url,:remote => true, :class => 'audiofile-link'
